# Docker image settings (needed only if pulling images from GHCR instead of building locally)
IMAGE_REGISTRY=ghcr.io
IMAGE_NAMESPACE=maximbri/t-bank
IMAGE_TAG=latest
GHCR_USERNAME=your_github_username
GHCR_TOKEN=your_github_personal_access_token

# Database
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/tbank
SPRING_DATASOURCE_USERNAME=tbank
SPRING_DATASOURCE_PASSWORD=tbank
POSTGRES_DB=tbank
POSTGRES_USER=tbank
POSTGRES_PASSWORD=tbank

# Redis
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

# Ports
FRONTEND_PORT=3001
BACKEND_PORT=8080

# Auth
JWT_SECRET=change_me_to_any_random_string
# Set to false for local HTTP development, true only in production (HTTPS)
JWT_COOKIE_SECURE=false
