@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary font-inter;
  }

  * {
    @apply font-inter;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-placeholder;
  }

  input:disabled,
  textarea:disabled,
  select:disabled {
    @apply cursor-not-allowed;
  }

  a {
    color: inherit;
  }

  button {
    font: inherit;
  }

  main {
    @apply px-[10px] py-[10px] sm:px-[30px] sm:py-[20px];
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
